
.container {
    max-width: 75rem;
    width: 90%;
    margin-inline: auto;
}

.about-imgs {
    max-width: 100%;
    height: auto;
    display: block;
}

.about-header {
    height: 70vh;
    background-image: url('../assets/about-img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 5rem;
}

.about-header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.about-header .container {
    position: relative;
    z-index: 10;
    color: #fff;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header h1 {
    font-size: 2rem;
    line-height: 1.2;
    border-bottom: 4px solid var(--main-color);
}

.about-header p {
    font-family: 'montserrat', cursive ;
    font-size: 1rem;
    align-items: center;
    margin-top: 15px;
}

/* About Values Section */

.about-values {
    padding-block: 6rem;

}

.about-values .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-values__content {
    border-radius: 5px;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 245, 245);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.about-values-images {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.about-values__title {
    display: flex;
    flex-direction: column-reverse;
}


.about-values__title h2 {
    font-size: 4rem;
    line-height: 1;
}

.about-values__title p {
    font-family: 'montserrat', cursive ;
    font-size: 3rem;
    color: var(--main-color);
}

.about-values__dish {
    width: 5rem;
}

/* Online REservation Section */


.online-res {
    background-color: red;
    height: 45vh;
    background-image: url('../assets/about-img-6.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;

}

.online-res::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
    z-index: 1;
}

.online-res .container {
    position: relative;
    z-index: 10;
    color: #fff;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.online-res p {
    font-size: 1.5rem;
}

.about-btn {
    display: inline-block;
    padding: 1em 2.5em;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

@media(min-width: 50em) {
    .about-values .container {
        flex-direction: row;
    }

    .about-values__content {
        width: 40%;
    }

    .about-values-images {
        width: 60%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-values-images img {
        border-radius: 5px;
        width: 25rem;
    }
}