.home-page{
    padding: 3rem 4rem;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem;
    height: 25rem;
}
.hero-intro {
    padding-top: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.hero-intro h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--primary-color);
}
.hero-intro  p{
    color: #000;
}

.hero-image{
    display: flex;
}
.hero-image img{
    transition: .3s;
}

.so{
    border-left: 5px solid var(--main-color) ;
}
.so p{
    margin-left: 1rem;
}
.item{
    min-width: 14rem;
    min-height: 2rem;
    padding: 20px;
}
.item img{
  width: 100%;
  height: 70%;
  border-radius: 3rem;
  pointer-events: none;
}

.inner-carousel{
    display: flex;}
    
.carousel{
    overflow: hidden;
    cursor: grab;
    padding: 0 40px;
    height: 20rem;
}

@media screen and (max-width: 1050px){
 .hero-image img{
     width: 250px;
     height: 250px;
     transition: .3s;
 }
}
@media screen and (max-width: 850px){

    .home-page{
        padding: 3rem 1rem;
    }
    
    .hero-section{
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }
    .hero-image img{
        width: 350px;
        height: 350px;
        transition: .3s;
    }
    .specialoffers{
        margin-top: 20rem;
    }
   }
    
