nav {
  background: transparent;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
}

nav.shadowed{
    background: var(--secondary-color);
    box-shadow: 2px 0 4px rgba(0,0,0,0.2);
}

nav .nav-logo {
  width: 200px;
  height: 5px;
  padding-left: 3rem;
  margin-top: 0.5rem;
}
nav .nav-logo img {
  width: 100%;
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  line-height: 70px;
  margin-right: 15px;
}
nav ul li {
  margin-right: 20px;
}
nav ul li .link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
nav ul li .active-link {
  padding: 5px 15px;
  border-radius: 2px;
  background: var(--main-color);
  color: #fff;
  font-weight: 600;
}
nav ul li .active {
  border-bottom: 2px solid var(--main-color);
}

.menu {
  display: none;
  outline: none;
  border: none;
}
.menubar {
  position: absolute;
  right: 4%;
  top: 30%;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.menubar .menu-open-icon {
  position: relative;
  background-color: transparent;
  height: 2px;
  width: 35px;
  display: block;
  margin: 6px;
  border-radius: 20px;
}

.menubar ::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  transition: all 0.5s ease;
}

.menubar:hover {
  opacity: 1;
}

.menubar .first-bar::before {
  width: 50%;
}

.menubar .second-bar::before {
  width: 75%;
}
.close {
  position: absolute;
  right: 4%;
  top: 30%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.close-icon {
  height: 2px;
  width: 30px;
  background-color: var(--main-color);
  display: block;
  cursor: pointer;
  border-radius: 20px;
}

.close-icon1 {
  transform: rotate(-45deg);
}

.close-icon2 {
  transform: rotate(45deg);
}

.mobile-navigation {
  display: none;
}

@media screen and (max-width: 850px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .mobile-navigation {
    display: block;
    padding-top: 1rem;
    margin-top: 5rem;
    background: var(--main-color);
    height: 20rem;
    z-index: 99;
    position: fixed;
    right: 0;
    border-radius: 10px;
    transition: all 0.5s;
    opacity: 0.8;
  }
  .mobile-navigation .links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-navigation .link {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0.5rem;
    font-size: 2.4rem;
  }
}
